Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2

requests==2.32.3
urllib3==2.2.2
httpx==0.27.0
aiohttp==3.9.5

google-api-python-client==2.129.0
protobuf==5.27.0
protobuf-decoder==0.4.0

pycryptodome==3.20.0
psutil==5.9.8
PyJWT==2.8.0
pytz==2024.1

cfonts==1.5.2

gunicorn==22.0.0
Flask-Cors==4.0.1
